.red-text{
    color:red
}

/* using selector.notation we can have the specific colour */

h2.red-text{
    color:red
} 

h2.red-text{
    color: blue;
    /* display: inline;
    display: block; */

    /* block will allow us to set the height and width
    inline will allow us the elements to go the same line. */
    display: inline-block; 
    
    /* will let the emelemnt to go dissapear */
    /* display: none; */
    
}

h3.red-text{
    color: green
}



